EXPO_PUBLIC_API_URL=http://localhost:3333
# Producción: https://api-production-85ef.up.railway.app
EXPO_PUBLIC_SUPABASE_URL=https://hcbqrdxonbezscgzeyyo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_DEMO_MODE=true
